<div style="height: 100vh; background-image: url(../../../assets/header.jpg); background-size: cover; background-position: center;" class="position-relative w-100">
    <div class="position-absolute text-white d-flex flex-column align-items-center justify-content-center" style="top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0,0,0,.2);">
      <h1 class="text-center my-5" id="about" style="color: #F3DE2C;"> ABOUT <span style="color: #FB6107;">US</span></h1>
    </div>
</div>

<section class="about"  id="about">
    <div class="container my-5">
       <h2 class="text-center my-5" id="about" style="color: #5C8001;"> Bale <span style="color: #FB6107;">Matwa</span></h2>
          <div class="row my-4">
 
            <div class="col">
              <div>
                <img class="picture-1 " src="../../../assets/about.jpg" width="500px" alt="">
              </div>
            </div>
            <div class="col">
              <div>
                <p class="about" style="color: #5C8001; font-weight: 500; font-size: 18px;">The Bale Matwa is a charity-driven project for elderly people who are in the custody of Home for the Aged caretakers. This advocacy aims to fulfill the elders’ needs by gaining support through donation projects, partnership, and volunteerism.
                  <br />Moreover, Bale Matwa recognizes the voices of the Home for the Aged elders and caretakers to make society become aware and understand the situation of the everyday struggles inside the home care. 
                  </p>
              </div>
            </div>
        </div>
    </div>
  
</section>

<section class="counting" id="counting">
  <div class="counter" style="background-color: #F3DE2C;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="count-up">
                    <img src="../../../assets/logo.png" height="125px" alt="">
                </div>
            </div>
 
            <div class="col-12 col-lg-3">
             <div class="count-up">
                 <img src="../../../assets/CARE.png" height="125px" alt="">
             </div>
            </div>
 
             <div class="col-12 col-lg-3">
                 <div class="count-up">
                     <img src="../../../assets/JESUS.png" height="125px" alt="">
                 </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="count-up">
                  <img src="../../../assets/jesuit.png" height="125px" alt="">
              </div>
         </div>
        </div>
    </div>
 </div>
</section>

<section class="about"  id="about">
    <div class="container my-5">
          <div class="row my-4">
            <div class="col">
                <h2 class="text-center my-5" id="about">  <span style="color: #5C8001;">Vision</span></h2>
                <div>
                  <p class="about" style="color: #000000; font-weight: 500; font-size: 18px;">Bale Matwa envisions to encourage people to become empathetic and promote kindness to their fellow people especially to the people who shaped us through their love.</p>
                </div>
              </div>
            <div class="col">
            <h2 class="text-center my-5" id="about">  <span style="color: #FB6107;">Mission</span></h2>
              <div>
                <p class="about" style="color: #000000; font-weight: 500; font-size: 18px;">Bale Matwa promotes the welfare of the members in the Home for the Aged by providing their needed support and care.</p>
              </div>
            </div>
        </div>
    </div>
  </section>

  <section class="line">
    <div class="hr-container">
      <hr>
    </div>
   </section>

   <section class="about"  id="about">
    <div class="container my-5">
       <h2 class="text-center my-5" id="about" style="color: #5C8001;"> PROGRAMS </h2>
    </div>
  
</section>

<section class="program" id="program">
    <section class="gallery" id="galery">
        <section class="image-grid">
          <div class="container-xxl">
            <div class="row gy-4">
              <div class="col-12 col-sm-6 col-md-4">
                <figure>
                    <div class="tp-box" (click)="toggleFlip1()" [@flipState]="flip1">
                        <div class="tp-box__side tp-box__front" style="background-image: url(../../../assets/picture6.jpg);"> <h2>Exercise Program</h2>
                        </div>
                        <div class="tp-box__side tp-box__back"><p> This program is essential for seniors to maintain their physical health and avoid stagnation. Also, this program will improve their mobility and mental health.</p>
                        </div>
                    </div>
                </figure>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <figure>
                    <div class="tp-box" (click)="toggleFlip2()" [@flipState]="flip2">
                        <div class="tp-box__side tp-box__front" style="background-image: url(../../../assets/picture5.jpg);"><h2>Medical Checkup</h2>
                        </div>
                        <div class="tp-box__side tp-box__back"><p> Medical Checkup is vital for seniors to monitor and maintain their health regularly.</p>
                        </div>
                    </div>
                </figure>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <figure>
                    <div class="tp-box" (click)="toggleFlip3()" [@flipState]="flip3">
                        <div class="tp-box__side tp-box__front" style="background-image: url(../../../assets/picture4.jpg);"><h2> Spiritual Activities</h2>
                        </div>
                        <div class="tp-box__side tp-box__back"> 
                          <p> Spiritual Activities such as meditation, religious services and prayers will lead to a positive impact for the elders in their physical and mental health.</p>
                        </div>
                    </div>
                </figure>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <figure>
                    <div class="tp-box" (click)="toggleFlip4()" [@flipState]="flip4">
                        <div class="tp-box__side tp-box__front" style="background-image: url(../../../assets/picture2.jpg);"><h2>Social Activities</h2>
                        </div>
                        <div class="tp-box__side tp-box__back"><p>Elderly people who are living in a home care may feel loneliness or isolation. Social activities like movie screenings, healthy group discussions, and games may build a sense of good relationship, and help them to connect with others.</p>
                        </div>
                    </div>
                </figure>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <figure>
                    <div class="tp-box" (click)="toggleFlip5()" [@flipState]="flip5">
                        <div class="tp-box__side tp-box__front" style="background-image: url(../../../assets/picture1.jpg);"><h2>Recreational Activities</h2>
                        </div>
                        <div class="tp-box__side tp-box__back"><p>Recreational activities are therapeutic to the elderly people that will make them stay active. These activities include gardening, arts, music, and crafts will alleviate their stress and improve their cognitive stimulation.</p>
                        </div>
                    </div>
                </figure>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <figure>
                    <div class="tp-box" (click)="toggleFlip6()" [@flipState]="flip6">
                        <div class="tp-box__side tp-box__front" style="background-image: url(../../../assets/picture3.jpg);"><h2>Volunteer Programs</h2>
                        </div>
                        <div class="tp-box__side tp-box__back"><p>Volunteers are welcome to help the home care through their act of services such as donation drive, and interactions.</p>
                        </div>
                    </div>
                </figure>
              </div>

      
             
            </div>
          </div>
        </section>
      </section>
</section>

<footer>
  <div class="footer-top">
    <div class="container">
      <div class="footer-day-time">
        <div class="row">
          <div class="col-md-8">
            <ul>
              <li>Opening Hours: Mon - Friday: 8AM - 5PM</li>
              <li>Sunday: 8:00 AM - 12:00 PM</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <div class="phone-no">
              <a href="tel:++97 917 5698 662"><i class="fa fa-mobile" aria-hidden="true"></i>Call 0917 5698 662</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">

       <img src="../../../assets/logo.png" height="150px" alt="">

        </div>

        <div class="col-md-4">
          <h4>Information</h4>
          <ul class="address1">
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Holy Angel University</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:#">balematwa@email.com</a></li>
            <li><i class="fa fa-mobile" aria-hidden="true"></i> <a href="+97 917 5698 662">+97 917 5698 662</a></li>
          </ul>
        </div>


      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <p class="copyright text-uppercase">Copyright © 2018
          </p>
        </div>
        <div class="col-sm-7">
          <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/gallery">Gallery</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

